<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration>
    <import class="ch.qos.logback.classic.encoder.JsonEncoder"/>
    <import class="ru.ramlabs.alldicesbot.PatternJsonEncoder"/>
    <import class="ch.qos.logback.core.ConsoleAppender"/>

    <appender name="STDOUT" class="ConsoleAppender">
<!--        <encoder class="JsonEncoder"/>-->
        <encoder class="PatternJsonEncoder"/>
    </appender>

    <root>
        <level value="INFO"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>